body {
  padding: 0;
  margin: 0;
}
.youtube-navbar {
  height: 56px;
  border-bottom: 6px solid #fbfbfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#youtube-home-icon {
  width: 60px;
  height: 45px;
}
#nav-bar {
  display: 'flex';
  align-content: center;
}
.left-nav,
.center-nav,
.right-nav {
  display: flex;
  align-items: center;
}
#nav-bar input {
  font-size: 1.25rem;
  padding: 6px;
}
#menuToggle {
  padding-left: 28px;
  padding-right: 28px;
  align-items: center;
}
.burger {
  width: 25px;
  height: 3px;
  background-color: gray;
  margin: 3px 0;
}
.style-scope {
  width: 30px;
  height: 30px;
  color: grey;
  padding: 6px;
}
.flex-space-around {
  display: flex;
  align-items: space-around;
}

.main-video {
  grid-area: main-video;
}
.related-videos {
  grid-area: related-videos;
}
.video-information {
  grid-area: video-information;
}
.comments {
  grid-area: comments;
}
.related-videos-title {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: auto;
  grid-template-areas:
    'main-video related-videos'
    'video-information related-videos'
    'comments related-videos';
}
